/* === 1. Global Styles & Variables === */


* {
    font-weight: bold;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(8, 75, 8);

}


.pages {
    height: 100vh;
    background-color: rgb(24, 87, 24);
    width: 145px;
    box-shadow: 0 0 30px -7px black;
}

.pages .content {
    position: absolute;
    left: 32px;
    top: 29px;
    color: #fff;
    z-index: 1;
    text-shadow: 0 0 35px black;
}

.pages .content::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color:#fff; 
}

.pages .content::after {
    content: '';
    position: absolute;
    top: 21px;
    left: 27px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid rgb(24, 87, 24);
}
.pages .content:hover::after {
    background-color: #ffff;
}



.pages .container {
display: flex;
flex-direction: column;
position: relative;
}

.pages .container li {
    list-style: none;
    padding: 10px;
    margin-top: 27px;

}



.pages .container li a:hover{
    background-color: rgba(235, 241, 235, 0.199);
    color: rgb(59, 59, 59);
}
.pages .container li .active{
    background-color: rgba(235, 241, 235, 0.199);
    color: rgb(59, 59, 59);
}
.pages .container li a {
    text-decoration: none;
    color: #cccccc;
    position: absolute;
    left: 15px;
    margin-top: 57px;
    border-radius: 6px;
    padding: 5px;
    text-shadow: 0 0 35px black;
}
.pages .container .fa-fl {
color: #b6b4b4;
}



.pages .profiles .input-search {
    position: absolute;
    top: 5px;
    left: 35%;
}
.pages .profiles .input-search .ss-ee {
    position: absolute;
    left: 6px;
    top: 14px;
    color: #cccc;
    text-shadow: 0 0 10px black;
}
.pages .profiles .input {
    width: 130px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid green;
    padding-left: 30px;
    transition: 0.6s;
    background: rgb(24, 87, 24);
    color: #fff;
}
.pages .profiles .input:focus {
    outline: none;
    width: 200px;
}
.pages .profiles .input::placeholder {
    text-align: center;
    color: #cccc;
}






.pages .profiles {
    position: absolute;
    display: flex;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background-color: rgb(24, 87, 24);
    box-shadow: 167px 0 35px -11px black;
}

.pages .profiles .img-icon img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(66, 60, 60);
    cursor: pointer;
    transition: 0.5s;
}
.pages .profiles .img-icon img:hover {
    transform: scale(1.2);
}

.pages .profiles .img-icon{
    position: absolute;
    right: 10px;
    display: flex;
    margin-top: 7px;
}
.pages .profiles .img-icon .ff-ff {
    position: absolute;
    right: 45px;
    top: 10px;
    cursor: pointer;
}
.pages .profiles .img-icon .ff-ff::after {
    content: '';
    position: absolute;
    top: -3px;
    right: 0px;
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
}



.dashboard-all {
    position: absolute;
    left: 35%;
    top: 15%;
    transition: 0.5s;
    animation: shadow 1s linear;
    opacity: 1;
}
.dashboard-all:hover {
    transform: scale(1.01);
}

.dashboard-all .first-h3-span {
    color: #ccc;
    position: absolute;
    top: -35px;
}

.dashboard-all .first-h3-span span {
    background-color: #cccccce0;
    width: 80px;
    height: 4px;
    position: absolute;
    border-radius: 6px;
    text-align: center;
}

.dashboard-all .first-h3-span span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 4px;
    border-radius: 6px;
    background-color: rgb(46, 134, 46);
}

.dashboard-all .h4-p-img {
    background-color: rgb(99, 131, 99);
    position: absolute;
    width: 400px;
    height: 115px;
}
.dashboard-all .h4-p-img img {
    position: absolute;
    width: 180px;
    right: 10px;
    bottom: 3px;
}

.dashboard-all .h4-p-img h4 {
    margin-left: 10px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.dashboard-all .h4-p-img p {
    margin-left: 12px;
    margin-top: 7px;
    font-size: 12px;
    color: #8f8b8b;
}




.dashboard-all .developer-h5-p {
    position: absolute;
    top: 115px;
    background-color: rgb(24, 87, 24);
    width: 400px;
    height: 140px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #d3d2d2;
}
.dashboard-all .developer-h5-p::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #8f8b8b86;
    top: 25%;
}
.dashboard-all .developer-h5-p::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #8f8b8b86;
    top: 75%;
}

.dashboard-all .developer-h5-p img {
    position: absolute;
    top: -25px;
    left: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(46, 134, 46);
}

.dashboard-all .developer-h5-p img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.dashboard-all .developer-h5-p p {
    font-size: 12px;
    color: #8f8b8b;
    margin-top: 5px;
}

.dashboard-all .developer-h5-p span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgb(14, 54, 14);
    border-radius: 6px;
    font-size: 12px;
    color: #e7e4e4;
    width: 50px;
    text-align: center;
}
.dashboard-all .developer-h5-p span:hover {
    background-color: rgb(5, 43, 5);
    cursor: pointer;
}

.dashboard-all .developer-h5-p .one {
    position: absolute;
    top: 40%;
    left: 5%;
    text-align: center;
}
.dashboard-all .developer-h5-p .two {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;

}
.dashboard-all .developer-h5-p .three {
    position: absolute;
    top: 40%;
    left: 80%;
    text-align: center;
}




.quick-draft {
    position: absolute;
    top: 15%;
    left: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(24, 87, 24);
    width: 400px;
    height: 255px;
    border-radius: 6px;
    gap: 10px;
    transition: 0.5s;
    animation: shadow 1s linear;
    opacity: 1;
}
.quick-draft:hover {
    transform: scale(1.02);
}


.quick-draft h3 {
    margin-top: 10px;
    text-shadow: 0 5px 6px black;
    color: #ffff;
}

.quick-draft p {
    font-size: 12px;
    color: #8f8b8b;
}

.quick-draft  .input {
    width: 80%;
    height: 30px;
    background-color: rgb(24, 87, 24);
    border-radius: 6px;
    border: 1px solid black;
    outline: none;
    padding: 5px;
}
.quick-draft .textarea {
    width: 80%;
    height: 100px;
    background-color: rgb(24, 87, 24);
    border: 1px solid black;
    border-radius: 6px;
    outline: none;
    padding: 5px;
    resize: none;
}

.quick-draft .btn {
    width: 35%;
    height: 30px;
    background-color:rgb(16, 68, 16);
    color: #cccccc;
    border-radius: 6px;
    border: none;
    text-shadow: 0 0 6px black;
}

.quick-draft .btn:hover {
    box-shadow: 0 0 15px black;
    cursor: pointer;
}





.yearly-targets {
    position: absolute;
    left: 35%;
    top: 15%;
    width: 400px;
    height: 255px;
    background-color: rgb(24, 87, 24);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    animation: shadow 1s linear;
    opacity: 1;
}
.yearly-targets:hover {
    transform: scale(1.02);
}

.yearly-targets h3 {
    margin-left: 10px;
    margin-top: 5px;
    color: #ffff;
}
.yearly-targets p{
    margin-left: 10px;
    font-size: 12px;
    color: #8f8b8b;
    margin-top: 10px;
}

.yearly-targets .child-1 {
    display: flex;
    margin-top: 14px;
    margin-left: 10px;
    gap: 10px;
}

.yearly-targets .one {
    position: absolute;
    top: 20%;
    width: 70%;
    color: #cccc;
}
.yearly-targets .one::before {
    content: '';
    position: absolute;
    top: 45px;
    left: 71px;
    width: 80%;
    height: 2px;
    background-color: #cccccc;
    border-radius: 10px;
} 
.yearly-targets .one::after {
    content: '80%';
    position: absolute;
    top: 39px;
    left: 100%;
    width: 22px;
    height: 12px;
    border-radius: 20px 30px 5px 20px ;
    background-color: #cccccc;
    font-size: 10px;
    color: blue;
}


.yearly-targets .two {
    position: absolute;
    top: 45%;
    width: 55%;
    color: #cccc;
}
.yearly-targets .two::before {
    content: '';
    position: absolute;
    top: 45px;
    left: 71px;
    width: 55%;
    height: 2px;
    background-color: #cccccc;
    border-radius: 10px;
}
.yearly-targets .two::after {
    content: '55%';
    position: absolute;
    top: 39px;
    left: 77%;
    width: 22px;
    height: 12px;
    border-radius: 20px 30px 5px 20px ;
    background-color: #cccccc;
    font-size: 11px;
    color: rgb(172, 142, 12);
}


.yearly-targets .three {
    position: absolute;
    top: 70%;
    width: 75%;
    color: #cccc;
}
.yearly-targets .three::before {
    content: '';
    position: absolute;
    top: 45px;
    left: 71px;
    width: 75%;
    height: 2px;
    background-color: #cccccc;
    border-radius: 10px;
}
.yearly-targets .three::after {
    content: '75%';
    position: absolute;
    top: 39px;
    left: 91%;
    width: 22px;
    height: 12px;
    border-radius: 20px 30px 5px 20px ;
    background-color: #cccccc;
    font-size: 11px;
    color: green;
}

.yearly-targets span {
    font-size: 12px;
    position: absolute;
    left: 70px;
    margin-top: 25px;
}
.yearly-targets .fa-solid {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    text-align: center;
    padding-top: 15px;
}

.yearly-targets .fa-dollar-sign {
    background-color: rgba(0, 0, 255, 0.425);
}
.yearly-targets .fa-code {
    background-color: rgba(255, 208, 0, 0.562);
}
.yearly-targets .sign {
    background-color: rgba(0, 255, 21, 0.637);
}
.yearly-targets .fa-dollar-sign:hover{
    background-color: rgba(0, 0, 255, 0.678);
}
.yearly-targets .fa-code:hover{
    background-color: rgba(255, 208, 0, 0.801);
}
.yearly-targets .sign:hover {
    background-color: rgba(0, 255, 21, 0.87);
}



.tickets-statistics {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 35%;
    top: 15%;
    width: 400px;
    height: 255px;
    background-color: rgb(24, 87, 24);
    border-radius: 6px;
    transition: 0.5s;
    animation: shadow 1s linear;
    opacity: 1;
}
.tickets-statistics:hover {
    transform: scale(1.02);
}

.everything-1,
.everything-2 {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    cursor: pointer;
    color: #ccccccfd;
}

.tickets-statistics .everything-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 25px;
    width: 120px;
    height: 92px;
    background-color: rgb(24, 87, 24);
    border-radius: 6px;
    border: #cccc 1px solid;
    gap: 3px;
}
.tickets-statistics .everything-about:hover {
    background-color: rgb(23, 92, 23);
}

.tickets-statistics  h3 {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 15px;
    color: #cccccc;
}
.tickets-statistics p {
    margin-left: 10px;
    font-size: 11px;
    color: #8f8b8b;
}

.everything-1 .everything-about:nth-child(1) .fa-solid {
    color: rgb(255, 153, 0);
}
.everything-1 .everything-about:nth-child(2) .fa-solid {
    color: rgb(38, 0, 255);
}
.everything-2 .everything-about:nth-child(1) .fa-solid {
    color: rgb(0, 255, 13);
}
.everything-2 .everything-about:nth-child(2) .fa-solid {
    color: rgb(255, 0, 0);
}




.latest-news {
    position: absolute;
    width: 400px;
    height: 255px;
    background-color: rgb(24, 87, 24);
    left: 35%;
    top: 15%;
    border-radius: 6px;
    transition: 0.5s;
    animation: shadow 1s linear;
    opacity: 1;
}
.latest-news:hover {
    transform: scale(1.02);
}

.a-1::before {
    content: '';
    position: absolute;
    top: 27%;
    width: 100%;
    height: 1px;
    background-color: #cccc;
}
.b-2::after {
    content: '';
    position: absolute;
    top: 51%;
    width: 100%;
    height: 1px;
    background-color: #cccc;
}
.c-3::before {
    content: '';
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #cccc;
}

.latest-news .h3-p-img-span {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
}

.latest-news .h3-p-img-span img {
    width: 80px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #cccc;
    cursor: pointer;
    transition: 0.5s;
}
.latest-news .h3-p-img-span img:hover {
    transform: scale(1.1);
}

.latest-news .h3-p-img-span h3 {
    font-size: 15px;
    color: #ccc;
}

.latest-news .h3-p-img-span p {
    font-size: 11px;
    margin-top: 25px;
    color: #ccccccc0;
}

.latest-news .h3-p-img-span h3,
.latest-news .h3-p-img-span p {
    left: 25%;
    position: absolute;
}

.latest-news .h3-p-img-span span {
    margin-left: 78%;
    font-size: 11px;
    margin-top: 10px;
    position: absolute;
    border-radius: 6px;
    background-color: rgb(11, 63, 11);
    color: #ccc;
    width: fit-content;
}


.latest-tasks {
    position: absolute;
    width: 400px;
    height: 255px;
    background-color: rgb(24, 87, 24);
    left: 35%;
    top: 15%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    transition: 0.5s;
    animation: shadow 1s linear;
    opacity: 1;
}
.latest-tasks:hover {
    transform: scale(1.05);
}

.latest-tasks h4 {
    margin-left: 10px;
    margin-top: 10px;
    color: #cccccc;
}

.latest-tasks .h3-p-icon {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 15px;
    background-color: rgba(22, 75, 22, 0.342);
}

.latest-tasks .h3-p-icon h3 {
    font-size: 14px;
    color: #ccc;
}
.latest-tasks .h3-p-icon p {
    font-size: 11px;
    color: #8f8b8b;
}
.latest-tasks .h3-p-icon ion-icon {
    position: absolute;
    left: 90%;
    margin-top: 6px;
    cursor: pointer;
    transition: 0.5s;
    color: #cccc;
}
.latest-tasks .h3-p-icon ion-icon:hover {
    transform: scale(1.05);
}

.latest-tasks .del {
    background-color: rgba(20, 78, 20, 0.322);
    text-decoration: line-through;
    color: #8f8b8b;
}
.latest-tasks .del ion-icon {
    cursor: none;
}

@keyframes shadow {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
}



.top-search-items {
    position: absolute;
    width: 400px;
    height: 255px;
    background-color: rgb(24, 87, 24);
    border-radius: 6px;
    left: 35%;
    top: 15%;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}
.top-search-items:hover {
    transform: scale(1.05);
}

.top-search-items h3 {
    font-size: 17px;
    margin-left: 10px;
    margin-top: 10px;
    color: #ffff;
}
.top-search-items p:nth-child(2) {
    font-size: 11px;
    color: #cccc;
    margin-left: 20px;
    margin-top: 10px;
}
.top-search-items span:nth-child(3) {
    font-size: 11px;
    color: #cccc;
    margin-left: 77%;
    margin-top: -10px;
}

.top-search-items .div-p-span {
    display: flex;
    flex: 1;
    justify-content: space-between;
    color: #ffff;
    font-size: 14px;
}
.top-search-items .div-p-span p {
    margin-top: 10px;
    margin-left: 20px;
}
.top-search-items .div-p-span span {
    margin-top: 10px;
    margin-right: 30px;
    background-color: #63626267;
    border-radius: 6px;
    height: 15px;
}



.latest-uploads {
    position: absolute;
    width: 400px;
    height: 255px;
    background-color:rgb(24, 87, 24);
    border-radius: 6px;
    left: 35%;
    top: 15%;
    transition: 0.5s;
}
.latest-uploads:hover {
    transform: scale(1.05);
}
.latest-uploads h3 {
    font-size: 17px;
    margin-left: 40%;
    margin-top: 5px;
    color: #ffff;
}

.latest-uploads .img-span {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 10px;
}

.latest-uploads .img-span img {
    width: 25px;
    height: 25px;
    transform: translateY(-25px);
    
}

.latest-uploads .img-span p {
    font-size: 11px;
    margin-left: 8%;
    margin-top: -23px;
    position: absolute;
}

.latest-uploads .img-span span:nth-child(3) {
    font-size: 9px;
    margin-top: -10px;
    margin-left: 33px;
    position: absolute;

}

.latest-uploads .img-span .mb {
    margin-left: 80%;
    font-size: 9px;
    margin-top: -20px;
    position: absolute;
    background-color:rgb(5, 43, 5);
    width: fit-content;
    border-radius: 6px;
    color: #ffff;

}




.last-project-progress {
    position: absolute;
    width: 400px;
    height: 255px;
    background-color: rgb(24, 87, 24);
    border-radius: 6px;
}
.last-project-progress::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 107px;
    background-color: #ffff;
    left: 3.9%;
    top: 26%;
}
.last-project-progress::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 28px;
    background-color: #ffff;
    left: 16px;
    top: 72%;
}

.last-project-progress h3 {
    font-size: 17px;
    margin-left: 30px;
    margin-top: 10px;
    color: #e7e6e6;

}

.last-project-progress .div-p {
    margin-top: 25px;
    margin-left: 30px;
    color: #dbd9d9;
}

.last-project-progress .div-p::before {
    content: '';
    position: absolute;
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid rgb(248, 248, 252);
}
.last-project-progress .div-p::after {
    content: '';
    position: absolute;
    left: 3.1%;
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
    background-color: rgb(249, 249, 250);
    margin-top: -2.9%;
}

.last-project-progress .div-p:nth-child(6)::after {
    content: '';
    position: absolute;
    background-color: transparent;
}

.last-project-progress .div-p:nth-child(5)::after {
    content: '';
    position: absolute;
    background-color: transparent;
    animation: ls 2s linear infinite alternate;
}

@keyframes ls {
    0% {
        background-color: rgb(249, 249, 250);
    }
}

.last-project-progress .div-p p {
    font-size: 12px;
}


.last-project-progress img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 80%;
    top: 60%;
    opacity: 0.1;
}





.reminders {
    position: absolute;
    width: 400px;
    height: 255px;
    background-color: rgb(24, 87, 24);
    border-radius: 6px;
    left: 35%;
    top: 15%;
    display: flex;
    flex-direction: column;

}



.reminders h3 {
    font-size: 17px;
    margin-left: 10px;
    margin-top: 10px;
    color: #ffff;
}


.reminders .div-p-span {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 10px;
    color: #ffff;

}

.reminders .div-p-span::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: red;
    left: 10%;
}
.reminders .div-p-span:nth-child(2)::before {
    content: '';
    background-color: rgb(38, 0, 255);
}
.reminders .div-p-span:nth-child(3)::before {
    content: '';
    background-color: rgb(30, 255, 0);
}
.reminders .div-p-span:nth-child(4)::before {
    content: '';
    background-color: rgb(255, 217, 0);
}
.reminders .div-p-span:nth-child(2)::before {
    content: '';
    background-color: rgb(38, 0, 255);
}


.reminders .div-p-span::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    left: 5%;
    margin-top: 10px;
    border-radius: 50%;
}

.reminders .div-p-span:nth-child(2)::after {
    content: '';
    background-color: rgb(38, 0, 255);
}
.reminders .div-p-span:nth-child(3)::after {
    content: '';
    background-color: rgb(30, 255, 0);
}
.reminders .div-p-span:nth-child(4)::after {
    content: '';
    background-color: rgb(255, 217, 0);
}
.reminders .div-p-span:nth-child(2)::after {
    content: '';
    background-color: rgb(38, 0, 255);
}

.reminders .div-p-span p {
    font-size: 14px;
}
.reminders .div-p-span span {
    font-size: 12px;
    color: #cccccc8e;
}



.latest-post {
    position: absolute;
    width: 400px;
    height: 255px;
    background-color: rgb(24, 87, 24);
    border-radius: 6px;
    left: 35%;
    top: 15%;
    display: flex;
    flex-direction: column;
}

.latest-post h3 {
    font-size: 17px;
    margin-left: 15px;
    margin-top: 15px;
    color: #ffffffda;
}

.latest-post .img-p-span {
    margin-top: 10px;
    margin-left: 15px;
}

.latest-post .img-p-span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #cccccc5b;
    left: 0;
    top: 40%;
}

.latest-post .img-p-span p,
.latest-post .img-p-span span {
    margin-left: 40px;
    margin-top: -30px;
    font-size: 12px;
    color: #eeeded;
}
.latest-post .img-p-span span {
    font-size: 9px;
    color: #d1d0d0c0;
}

.latest-post .img-p-span img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #964c1b;
}



.latest-post .p-like-comment {
    margin-top: 40px;
    margin-left: 15px;
}

.latest-post .p-like-comment::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #cccccc7c;
    left: 0;
    top: 80%;
}

.latest-post .p-like-comment p {
    font-size: 11px;
    line-height: 1.7;
    color: #ffff;
}

.latest-post .p-like-comment .like-comment {
    margin-left: 10px;
    margin-top: 40px;
    font-size: 11px;
    color: #cccc;
}
.latest-post .p-like-comment .like-comment ion-icon {
    color: #cfcfcffd;
    font-size: 11px;
    margin-top: 10px;

}

.latest-post .p-like-comment .comment-like {
    margin-left: 85%;
    margin-top: -15px;
    font-size: 11px;
    color: #cccc;
}
.latest-post .p-like-comment .comment-like ion-icon {
    color: #e0dfdffd;
    font-size: 11px;
}





.social-media-stats {
    position: absolute;
    left: 35%;
    top: 15%;
    width: 400px;
    height: 255px;
    background-color:rgb(24, 87, 24);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}
.social-media-stats:hover {
    transform: scale(1.02);
}

.social-media-stats h3 {
    font-size: 17px;
    margin-left: 15px;
    margin-top: 15px;
    color: #ffff;
}

.social-media-stats .i-span-p {
    margin-top: 15px;
    margin-left: 15px;
    height: 35px;
    width: 93%;
}

.social-media-stats .i-span-p:nth-child(2) {
    background: linear-gradient(100deg, rgba(0, 0, 255, 0.295), #ffffff6c);
    color: #ffff;
}
.social-media-stats .i-span-p:nth-child(3) {
    background-color: rgba(84, 84, 179, 0.37);
}
.social-media-stats .i-span-p:nth-child(4) {
    background-color: rgba(226, 112, 67, 0.774);
}
.social-media-stats .i-span-p:nth-child(5) {
    background-color: rgba(0, 195, 255, 0.411);
}



.social-media-stats .i-span-p i {
    background-color: blue;
    padding: 10px;
    color: #ffff;
}
.social-media-stats .i-span-p:nth-child(2) i {
    background-color: black;
}
.social-media-stats .i-span-p:nth-child(4) i {
    background-color: red;
}
.social-media-stats .i-span-p:nth-child(5) i {
    background: linear-gradient(45deg, red, rgb(255, 174, 0), rgb(204, 0, 255));
}



.social-media-stats .i-span-p span {
    font-size: 11px;
    margin-left: 10px;
    color: rgb(123, 123, 236);
}
.social-media-stats .i-span-p:nth-child(4) span {
    color: rgb(209, 24, 24);
}


.social-media-stats .i-span-p p {
    font-size: 11px;
    color: #ffffffb7;
    margin-left: 75%;
    margin-top: -28px;
    position: absolute;
    background-color: blue;
    border-radius: 6px;
    height: 16px;
    width: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.social-media-stats .i-span-p p:hover {
    transform: scale(1.01);
}
.social-media-stats .i-span-p:nth-child(4) p {
    background-color: red;
    width: 60px;
}

.social-media-stats .i-span-p:nth-child(2) p {
    background: linear-gradient(45deg, black, blue) ;
}




.team-schedule {
    position: absolute;
    left: 1%;
    top: 15%;
    width: 670px;
    height: 400px;
    background-color: rgb(24, 87, 24);
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

.team-schedule h3 {
    margin-top: 15px; 
    margin-left: 15px;
    color: #ffff;
}

.team-schedule .table thead {
    background-color:rgb(0, 255, 13);
    font-weight: bold;
    font-size: 12px;
}

.team-schedule .table td {
    padding: 10px;
}
.team-schedule .table tbody td,
.team-schedule .table tbody td span {
    font-size: 12px;
    font-weight: 500;
    color: #ffff;
}

.team-schedule .table tbody tr td:last-child {
    border-right: 1px solid #398a3698;
}


.team-schedule tbody td {
    border-bottom: 1px solid #398a3698;
    border-left: 1px solid #398a3698;
    width: 350px;
}

.team-schedule  tbody tr td:nth-child(6) .label {
    background-color: rgb(115, 255, 0);
}
.team-schedule  tbody tr:nth-child(1) td:nth-child(6) .label {
    background-color: rgb(255, 230, 0);
}
.team-schedule  tbody tr:nth-child(6) td:nth-child(6) .label {
    background-color: rgb(255, 0, 0);
}
.team-schedule  tbody tr:nth-child(5) td:nth-child(6) .label {
    background-color: rgb(251, 255, 0);
}

.team-schedule .table tbody tr img {
    width: 20px;
    height: 20px;
    padding: 2px;
}
.team-schedule .table tbody tr img:not(:first-child) {
    margin-left: -15px;
}






.site-control {
    position: absolute;
    left: 35%;
    top: 15%;
    width: 400px;
    height: 255px;
    background-color: rgb(24, 87, 24);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.site-control h3{
    margin-left: 15px;
    margin-top: 15px;
    color: #ffff;
    font-size: 18px;
}
.site-control p{
    margin-left: 15px;
    margin-top: 5px;
    color: #cccc;
    font-size: 12px;
}

.site-control .website-control {
    margin-top: 15px;
    margin-left: 15px;
}
.site-control .website-control h4 {
    font-size: 15px;
    color: #ffff;
}
.site-control .website-control span {
    font-size: 12px;
    color: #cccc;
    margin-top: 5px;
}


.checkbox-switch {
    position: absolute;
    display: inline-block;
    top: 25%;
    left: 75%;

}

.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
}

.toggle-switch {
    background-color: #ffff;
    width: 70px;
    height: 30px;
    border-radius: 16px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}


.toggle-switch::before {
    content: '\f00d';
    color: rgb(206, 5, 5);
    border: 1px solid;
    font-weight: 900;
    font-family: 'font awesome 5 free';
    background-color: #ffff;
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 4px;
    left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.toggle-checkbox:checked + .toggle-switch {
    background-color: rgb(24, 87, 24);
    border: 0.5px solid #cccccc49;
}

.toggle-checkbox:checked + .toggle-switch::before {
    left: 42px;
    top: 3px;
    transform: rotate(350deg);
    content: '\f00c';
    color: green;
}


.site-control .website-control textarea {
    margin-top: 15px;
    width: 95%;
    height: 100px;
    padding: 10px;
    border-radius: 6px;
    font-size: 10px;
    background-color: transparent;
    resize: none;
    outline: none;
    color: #ffff;
}









@media (min-width: 992px){
    .pages {
        height: 54vh;
        border-radius: 6px;
        width: 122px;
    }
    .pages .container li {
        margin-top: 14px;
    }
    .pages .container li a {
        font-size: 11px;
    }
    .dashboard-all {
    left: 12%;
    top: 15%;
    }
    .dashboard-all .h4-p-img {
        width: 952px;
    }
    .dashboard-all .developer-h5-p {
        width: 952px;
    }
    .pages .profiles .input-search {
    top: 5px;
    left: 14%;
}
.quick-draft  {
    left: 1%;
    top: 57%;
    margin-right: 20px;
    width: 350px;
}
.yearly-targets {
    left: 33.5%;
    top: 57%;
    width: 364px;
}
.yearly-targets .one::after {
    left: 105%;
}
.yearly-targets .two::after {
    left: 80%;
}
.yearly-targets .three::after {
    left: 94%;
}

.tickets-statistics {
    left: 67.5%;
    top: 57%;
    width: 350px;
}
.tickets-statistics .everything-about {
    width: 128px;
}
.latest-news {
    left: 1%;
    top: 99%;
    width: 350px;
}
.latest-tasks {
    left: 33.5%;
    top: 99%;
    width: 365px;
}
.top-search-items {
    left: 67.5%;
    top: 99%;
    width: 350px;
}
.latest-uploads {
    left: 1%;
    top: 141%;
    width: 350px;
}
.last-project-progress {
    left: 33.5%;
    top: 141%;
    width: 367px;
}
.last-project-progress::before {
    left: 4.5%;
    top: 25.5%;
}
.last-project-progress .div-p::after {
    left: 3.5%;
    margin-top: -3.3%;
}
.reminders {
    left: 67.6%;
    top: 141%;
    width: 350px;
}
.latest-post {
    left: 1%;
    top: 183%;
    width: 350px;
}
.social-media-stats {
    left: 33.5%;
    top: 183%;
    width: 367px;
}
.team-schedule {
    left: 1%;
    top: 183%;
    width: 725px;
    height: 380px;
}

}


@media (min-width: 1192.98px) {
    .pages {
        height: 54vh;
    }
    .dashboard-all {
    left: 11.5%;
    top: 15%;
    }
        .dashboard-all .h4-p-img {
        width: 1170px;
    }
    .dashboard-all .developer-h5-p {
        width: 1170px;
    }
    .quick-draft  {
    left: 1%;
    top: 56.5%;
    width: 430px;
    margin-right: 20px;
}
.yearly-targets {
    left: 33.8%;
    top: 56.5%;
    width: 430px;
}
.yearly-targets .one::after {
    left: 100%;
}
.yearly-targets .two::after {
    left: 80%;
}
.yearly-targets .three::after {
    left: 93%;
}
.tickets-statistics {
    left: 66.5%;
    top: 56.5%;
    width: 430px;
}
.latest-news {
    left: 1%;
    top: 98.5%;
    width: 430px;
}
.latest-tasks {
    left: 33.8%;
    top: 98.5%;
    width: 430px;
}
.top-search-items {
    left: 66.5%;
    top: 98.5%;
    width: 430px;
}
.latest-uploads {
    left: 1%;
    top: 140.5%;
    width: 430px;
}
.last-project-progress {
    left: 33.8%;
    top: 140.5%;
    width: 430px;
}
.last-project-progress .div-p::after {
    left: 2.9%;
    margin-top: -2.7%;
}
.last-project-progress::before {
    left: 3.9%;
    top: 25.5%;
}

.reminders {
    left: 66.5%;
    top: 140.5%;
    width: 430px;
}
.latest-post {
    left: 1%;
    top: 182.8%;
    width: 430px;
}
.social-media-stats {
    width: 430px;
}
.team-schedule {
    left: 1%;
    top: 224.5%;
    width: 870px;
    height: 380px;
}
.site-control {
    left: 66.5%;
    top: 182.8%;
    width: 430px;
}

}


@media (max-width: 711px) {
    .pages {
        height: 54.5vh;
        width: 119px;
        border-radius: 6px;
    }
        .pages .container li {
        margin-top: 14px;
    }
    .pages .container li a {
        font-size: 11px;
    }
    .dashboard-all {
        left: 20%;
    }
    .dashboard-all .h4-p-img {
        width: 525px;
    }
    .dashboard-all .developer-h5-p {
        width: 525px;
    }
    .quick-draft  {
    left: 1%;
    top: 57%;
    width: 318px;
}
.yearly-targets {
    left: 50%;
    top: 57%;
    width: 325px;
}
.yearly-targets .one::after {
    left: 104%;
}
.yearly-targets .two::after {
    left: 83%;
}
.yearly-targets .three::after {
    left: 96%;
}

.tickets-statistics {
    left: 1%;
    top: 98%;
    width: 320px;
}
.tickets-statistics .everything-about {
    width: 115px;
}
.latest-news {
    top: 98%;
    left: 50%;
    width: 326px;
}
.latest-news .h3-p-img-span h3,
.latest-news .h3-p-img-span p{
    left: 31%;
}
.latest-news .h3-p-img-span h3 {
    font-size: 11px;
}
.latest-news .h3-p-img-span p{
    font-size: 9px;
}
.latest-news .h3-p-img-span span {
    font-size: 8px;
}

.latest-tasks {
    top: 139%;
    left: 1%;
    width: 320px;
}
.top-search-items {
    top: 139%;
    left: 50%;
    width: 325px;
}
.latest-uploads {
    top: 180%;
    left: 1%;
    width: 320px;
}
.latest-uploads .img-span p {
    margin-left: 10%;
}
.last-project-progress {
    top: 180%;
    left: 50%;
    width: 325px;
}
.last-project-progress .div-p::after {
    width: 8px;
    height: 8px;
    left: 3.7%;
    margin-top: -3.6%;
}
.last-project-progress::before {
    left: 5%;
}
.reminders {
    top: 221%;
    left: 50%;
    width: 325px;
}
.latest-post {
    top: 221%;
    left: 1%;
    width: 320px;
}
.social-media-stats {
    top: 221%;
    left: 50%;
    width: 325px;
}
.team-schedule {
    top: 262%;
    left: 1%;
    width: 665px;
    height: 380px;
}
.site-control {
    top: 322.5%;
    left: 1%;
    width: 350px;
}

}



@media (max-width: 500px) {
    .pages {
        width: 110px;
        height: 43vh;
        border-radius: 6px;
    }
    .pages .content {
        font-size: 14px;
    }
    .pages .container li a {
        font-size: 12px;
    }
    .pages .profiles .input-search {
    left: 30%;
}
.pages .container li {
    list-style: none;
    padding: 6px;
    margin-top: 15px;
}
    .dashboard-all {
    left: 30%;
    top: 12%;
    }

    .dashboard-all .h4-p-img,
    .dashboard-all .developer-h5-p {
        width: 270px;
    }
    .dashboard-all .first-h3-span {
        left: -44px;
    }
    .dashboard-all .first-h3-span h3 {
    font-size: 10px;
    margin-top: 9px;
    margin-left: 25px;
    width: 100px;
    position: absolute;
    text-align: center;
}
    .dashboard-all .first-h3-span span {
    top: 25px;
    margin-left: 48px;
}
.dashboard-all .developer-h5-p p {
    font-size: 10px;
}
.dashboard-all .developer-h5-p span {
    font-size: 7px;
    width: 90px;
    height: 20px;
    padding: 10px;
    color: #e4e2e2;
    left: 40%;
    bottom: 10px;
    padding: 6px;
    
}
    .quick-draft {
    top: 50%;
    left: 4%;
    width: 369px;
    }
    .yearly-targets {
        top: 88%;
        left: 4%;
        width: 369px;
    }
    .yearly-targets .one::after{
        font-size: 9px;
        top: 40px;
        left: 101%;
        width: fit-content;
    }
.yearly-targets .two::after {
    font-size:  9px;
    top: 40px;
    left: 80%;
    width: fit-content;
}
.yearly-targets .three::after {
    font-size:  9px;
    top: 40px;
    left: 98%;
    width: fit-content;
}
.yearly-targets .one {
    top: 20%;
    width: 70%;
}
.yearly-targets .two {
    top: 45%;
    width: 60%;
}
.yearly-targets .three {
    top: 70%;
    width: 65%;
}
.tickets-statistics {
    top: 126%;
    left: 4%;
    width: 371px;
    height: 250px;
}
.everything-1,
.everything-2 {
    gap: 55px;
    margin-left: 15px;
}
.tickets-statistics .everything-about  {
    width: 100px;
}
.latest-news {
    top: 163%;
    left: 4%;
    width: 371px;
}
.latest-news .h3-p-img-span h3 {
    font-size: 11px;
    margin-top: 10px;
}

.latest-news .h3-p-img-span p {
    font-size: 8px;
}
.latest-news .h3-p-img-span span {
    font-size: 8px;
    margin-top: 13px;

}
.latest-news .h3-p-img-span h3,
.latest-news .h3-p-img-span p {
    margin-left: 30%;
}
.latest-news .h3-p-img-span h3,
.latest-news .h3-p-img-span p {
    left: 6%;
}
.latest-tasks {
    top: 201%;
    left: 4%;
    width: 371px;
    height: 270px;
}
.top-search-items {
    top: 241%;
    left: 4%;
    width: 371px;
}
.latest-uploads {
    top: 279%;
    left: 4%;
    width: 371px;
}
.last-project-progress {
    top: 317%;
    left: 4%;
    width: 371px;
}
.last-project-progress::before{
    left: 4.4%;
}
.last-project-progress .div-p::after{
    left: 3.3%;
    margin-top: -3.2%;
}

.reminders {
    top: 355%;
    left: 4%;
    width: 371px;
}
.reminders .div-p-span p {
    font-size: 11px;
}
.latest-post {
    top: 393%;
    left: 4%;
    width: 371px;
}
.social-media-stats {
    top: 431%;
    left: 4%;
    width: 371px;
}
.team-schedule {
    top: 469%;
    left: 4%;
    width: 371px;
    height: 350px;
}
.team-schedule .table thead tr td  {
    font-size: 9px;
}
.team-schedule .table tbody tr img {
    width: 15px;
    height: 15px;
}
.team-schedule .table tbody td,
.team-schedule .table tbody td span {
    font-size: 6px;
    font-weight: 500;
    color: #ffff;
}
.site-control {
    top: 520.5%;
    left: 4%;
    width: 371px;

}

}









/* 
repeat تكرار

left top  أعلى اليسار

fixed  مُثَبَّت

right  يمين

left bottom  أسفل اليسار

right top  أعلى اليمين

right bottom  أسفل اليمين

center top  أعلى المنتصف

center bottom  أسفل المنتصف

cover  غلاف

contain  يحتوي

position  موضع

attachment  مرفق

size  مقاس

background-size  حجم الخلفية

background-position  موضع الخلفية

background-attachment  ملحق الخلفية

outline  الخطوط العريضة

visibility: hidden الرؤية: مخفية

width: fit-content  يخلي الخلفية بقياس النص

text shadow: 0 0 0 red; عمل ضل النص

direction: rtl; النص من اليمين لليسار

direction: ltr; النص من اليسار لليمين

text-transform: => يحول نص الى احرف كبيتال

text-decoration: => زحرفة النص يعني يشيل حط تحت النص تسطير

text-indent: 10px; => مسافة بادئة النص يعني يعمل مسافة للبداية ومكانة محفوضة

line-height: 1.5; => يعمل مسافة بين الاسطر يعني ارتفاع الخط

letter-spacing: 2px; => يعمل مسافة بين احرف 

word-spacing: 2px => يعمل مسافة بين الكلمات ليس احرف لكن يفيد كلمات كتيرة 

word-break: break-word => يدخل كلمات الطالعة خارج البوكس ويخليها تحت بعض

    بعملان سوا قص نص الطالع خارج البوكس ويضهر 3 نقط ك ان يوجد نص
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -------
    p:hover {} =>
        white-space: nowrap; => المساحة البيضاء: طبيعية يعني يخلي نص سطلع طبيعي ليس سطر واحد 


    opacity: 0.7; => يعمل لشفافية المحتوى كامل مع نص و خلفية ايضا

position: sticky; => يعمل المجتوى ثابت يعني ادا عندك محتوى فوق يبقة ثابت معك عنده رفع الصفحة
position: relative;
position: fixed; => مثبت يعمل نفس  sticky لاكن الاحسن تستخدم sticky لان يستخدم ال scroll وغيرها
position: absolute; => مطلق يعني يتحرك لاي مكان تحدده

z-index: 1; =>  مؤشر يعني يحدد اي عنصر يضهر فوق

list-style: none; => لا تضهر النقاط ب صف الكلمة في ul


#check:checked { } => فحص يعني مثل تدوس ع مربع صح يخفي label او يغير لونة
a:visited {} => زار يعني يعمل لتغير لون عندة زيارة الصفحة حتى تعرف
div:empty {} => فارغ يعني يغير لون اي شي في حال يكون العنصر او البكس يكون فارغ
#text:focus {} => تركيز يعني يغير لون او border عندة الفوكس

    cursor: not-allowed; => المؤشر: غير مسموح به؛ يطلع علامة الاستفهام


outline: none; => لا يضهر الاطار الي ع انبوت input

.two:selection {} => يعمل لون عندة تحديد النص 
.one::first-line {} => السطر الاول يعني يغير لون اول سطر وغيرها من الستايلات 

.one::before {} => يعمل عنصر مزيف ب استخدام css
content: ""; => امر لكتابة عنصر المزيف

transparent => شفاف يعني لا يوجد لون للخلفية

counter-increment: اي اسم عادي للعداد : =>  
يعمل العداد من 1 للاخير 
.one::after {
    content: counter(mohamed-counter اسم العداد);

    transition-delay: 2s; => تأخير الأنتقال 

:root {
    --mainColor: white;
    --mainBackground-color: red;
    --mainPadding: 20px;
    يغير ستايل المحتوى ب استخدام روت
    مثال
    padding: var(--mainPadding);
}
-------
flex-flow: row wrap; => يخلي عناصر الجدد في الاسفل 
    بدل مانكتب دني السطرين نكتب سطر الفوق احسن يعملان نفس المهام
    flex-direction: row;
    flex-wrap: wrap;
------

justify-content: space-between; => يعمل لتحديد مسافة بين العناصر و يوسط العناصر داخل بوكس
justify-content: space-around; => يعمل لتحديد مسافة بين العناصر لكن اقل من سطر الاول و يوسط العناصر داخل بوكس
justify-content: space-evenly; => يعمل لتحديد مسافة بين العناصر لكن اقل من سطر الثاني و يوسط العناصر داخل بوكس

-------
    يوسطان الكلمة في نص 
    يوسط كل العناصر الي داخل بوكس 
    display: flex;
    justify-content: center;
    align-items: center;
------

align-items: flex-end+flex-start; =>  يعمل لتحديدمسافة بين العناصر ويوسط العناصر داخل بوكس او ينزلة او فوق 
ملاحضة مايشتغل بدون display: flex;

align-content: flex-end+flex-start; => ياخد الكونتينت كلها سوا فوق او تحت 
align-self: center; => يعمل لتحديد مكان العنصر ب الكامل في البوكس مايشتغل بدون flex


flex-grow: 1; => يعمل لنمو العناصر الي داخل بوكس مع بعض ب قياس واحد
order: 2; => يعمل لتحديد ترتيب العناصر مثلا تخلي اول عنصر او رقم ب مكان رقم او عنصر اخر 

    0% {
        background: linear-gradient( #b880ff, #ac0b23);
pointer-events:none; => أحداث المؤشر: لا شيء.. يعني يلغي انتقال الى رابط يصير حاله حال اي نص
    50% {
        background: linear-gradient( #cfc3d4, #fab7aa);
display: grid;
grid-template-columns: repeat(3, 1fr); => يوزع العناصر ب شكل حلو ومرتب 
نكدر ايضا نستخدم px+%+auto;
auto => يعني الخجول بالعناصر مايقبل زيادة ياخد ع طدة
1fr او Fraction => يعني الطماع يعني ياخد مساحة الباقية ايضا

grid-template-rows:   100px auto 100px ; => يتحكم ب قياس الطول يعني height;
                        اول صف  ثاني و ثالث

grid-template-areas: "logo logo logo  nav nav nav nav nav nav nav"
"cont cont cont cont cont cont cont cont side side"
"foot foot foot foot foot foot foot foot foot foot";
تكتب ع عدد الي كاتبة في (grid-template-columns)
على عدد الاعمدة الي مسوي 

ملاحضة لازم تعرفة حتى يشتغل 
h2 {
    grid-area: logo;
    background-color: red;
    color: #eee;
}

.child5 {
    grid-column: span 2;
    يمدد الرقم او العنصر الي داخل بوكس ليس رقم بل الخلفية والعنصر يبقة ب نص
}

هدا يخلي العناصر يتفاعل في الصفحة يعني شكد ماتصغر الصفحة العناصر هم تصغر 
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
------

transform: scaleX(1); => يعمل لتكبير اتجاه اكس X  
transform: scaleY(1); => يعمل لتكبير اتجاه واي Y
transform: rotate(90deg); => يعمل ب اتجاه عمودي يعني column
transform: translate(50% 50%); يعمل ب اتجاه صق بعني row

يعملا نفس الشغل والترتيب 
transform-origin: 50% 50%; يعني المركز
transform-origin: bottom right; يعني اريد تحت واليمين يفتر من جهت اليمين
transform-origin: left top; يعني اريد يروح فوك ويفتر من جهت اليسار 
....

يعملان نفس الشغل والترتيب
transform: translateX(20px) translateY(20px) scaleX(1.2) skewY(15deg) skewX(0deg) scaleY(1.2);
transform: matrix(1.2, 0.2679, 0, 1.2, 20, 20);
....

perspective: 300px; => تكتب حجم الاب كم الاصلي
الاصلي مهم هاد والفوق 
transform-style: preserve-3d;

perspective-origin: bottom left ;
لازم ينكتب perspective حتى يشتغل الزوم  

نكتب سطر الاول في الاب حتى يشتغل هاد
transform: translate3d( 0, 0, 30px);
يوجد 
X,Y,Z,3d
.....

scale => الحجم يعني تكبير 
rotate => تدوير يعني تغير الاتجاه
translate => يعمل ك بديل او شبيه ال خاصية (margin)
skewX + skewY => انحراف يعني يعوجها بالاتجاهات


هدي يعملا بعد الخصائص الي فوق 
deg => درجة 

turn => دوران

grad => تدرج يعني يعمل دوران بدون درجة يفرها ويرجعها 
-----------
3d
رؤية الوجه الخلفي
backface-visibility: hidden;

hover{
    transform: rotateY(-180deg);
}
    تحويل تدوير
transform: rotateY(180deg);
وجهة نظر ابعاد او اقتراب 
perspective: 600px;
نمط التحويل: الحفاظ على الأبعاد الثلاثية
بدونه ماتكدر تشوف الوجه الخلي 
transfomr-style: preserve-3d;
......

    مدة الرسوم المتحركة: 1 ثانية؛
    animation-duration: 1s;
    اسم الرسوم 
    animation-name: span;
    عدد تكرارات الرسوم المتحركة: لا نهائي؛
    animation-iteration-count: infinite;
    دالة توقيت الرسوم المتحركة: خطي;  يعني يمشي بدون تقطيع
    animation-timing-function: linear;

    @keyframes span {
    0%{
        transform: rotate(0deg);
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    100%{
        transform: rotate(360deg);
    }
}

animation
-direction -الاتجاه
-delay -التأخير
-fill-mode -وضع التعبئة
-play-state -حالة التشغيل
.....

-:first-child >= الطفل الأول
-:last-child >= الطفل الأخير
-:first-of-type >= الأول من نوعه
-:last-of-type >= الأخير من نوعه
-:only-of-type >= النوع الوحيد
-div:nth-last-child(4) => تحدد الطفل الي تريد تعدلة  من رقمة
- :nth-last-of-type(الرقم) => نفس الي فوق 
- p:not(:last-child) => كل العناصر الى الاخير not يعني لا
------
تكدر تغير لون الخلفية كلشي اثناء تغير حجم الشاشة 
@media  (min-width: 500px) and (max-width: 1000px) {
    .box {
        background-color: red;
    }
}

    Mobile => للاجهزة المحمولة
@media (max-width: 767px) {
    .parent div {
    width: calc(100% - 10px);
    }
}

Small Screen => شاشة صغيرة 
@media (min-width: 768px) {
    .parent div {
    width: calc(50% - 5px);
    }
}

Medium Screen => شاشة متوسطة  
@media (min-width: 992px) {
    .parent div {
    width: calc(25% - 5px);
    }
}

Large Screen => شاشة كبيرة
@media (min-width: 1200px) {
    .parent div {
    width: calc(50% - 10px);
    }
}


inset: 4px; => وضيفتة
يعني 
top: 4px;
right: 4px;
bottom: 4px;
left: 4px;





ملاحضة 
after {
يعني يعمل بعد النص وغيروها 
}

before {
يعمل قبل النص وغيرها 
before 
تكدر تستعملة بدون 
HTML
تعمل بها اشكال والوان
}
























